<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quiz Application For IOS v2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C7D04241E53A24400146F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C7D04381E53A24400146F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C7D04431E53A24400146F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
